@charset "utf-8";

/* @author saihou */

/* css reset */
body, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, p,
form, button, input, textarea, select,
table, tr, td, th {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i, em {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: normal;
}

li {
    list-style: none;
}

img {
    border: none;
    vertical-align: top;
}

a {
    text-decoration: none;
}

button, input, textarea, select, a {
    outline: none;
}

/* common begin */
/* fix float */
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.clear-fix {
    *zoom: 1;
}

.red-color {
    color: #c40000 !important;
}

.ji-container {
    position: relative;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
}

/* common end */

/* ji-nav begin */
.ji-nav {
    padding: 5px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e7e7e7;
    font-size: 12px;
}

.ji-nav span, .ji-nav a {
    margin: 0 10px 0 10px;
    color: #999;
}

.ji-nav a:hover {
    color: #c40000;
}

.ji-nav a {
    color: #999;
}

/* ji-nav end */

/* ji-search begin */

.ji-search {
    font-size: 12px;
}

.ji-search a {
    color: #999;
}

.ji-search a:hover {
    text-decoration: none !important;
    color: #c40000;
}

.ji-search .ji-logo {
    position: absolute;
    left: 0;
    width: 180px;
    z-index: -1;
}

.jis-div {
    width: 400px;
    height: 40px;
    margin: 50px auto;
    padding: 1px;
    background-color: #c40000;
}

.jis-div input {
    width: 275px;
    height: 36px;
    margin: 1px;
    border: 1px solid transparent;
    outline: none;
}

.jis-div button {
    width: 110px;
    border: 1px solid transparent;
    background-color: #c40000;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.jis-div .word-list {
    margin-top: 3px;
    margin-left: -20px;
}

.word-list a {
    padding: 0 20px 0 20px;
    font-size: 14px;
}

/* ji-search end */

/* ji-category begin */

.ji-category {
    width: 100%
}

.ji-category .header-bar {
    background-color: #fff;
    border-style: solid;
    border-width: 0 0 2px;
    border-color: #FF0036;
    text-align: center;
}

.header-bar .header {
    display: inline-block;
    width: 200px;
    height: 36px;
    margin-left: 20px;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    background-color: #FF0036;
    color: #fff;
}

.header-bar .right-menu {
    display: inline-block;
}

.header-bar .right-menu a {
    font-size: 16px;
    color: #333;;
    text-decoration: none;
}

.header-bar .right-menu span {
    margin: 0 20px 0 20px;
}

.header-bar .right-menu img {
    height: 30px;
}

.ji-slider {
    width: 1024px;
    height: 510px;
    margin: 0 auto;
}

.ji-sbck {
    position: absolute;
    top: 207px;
    width: 100%;
    height: 510px;
    background-color: #E8E8E8;
    z-index: -1;
}

/* ji-category end */

/* ji-products begin */
.ji-products {
    margin: 0 auto;
    padding: 50px 10px 50px 10px;
    max-width: 1013px;
    background-color: #f5f5f5;
}

.p-item {
    float: left;
    width: 189px;
    height: 285px;
    margin: 8px 4px;
    border: 1px solid #fff;
    background-color: #fff;
    cursor: pointer;
}

.p-item .p-desc {
    display: block;
    padding: 16px;
    font-size: 12px;
    color: #666;
}

.p-item .p-price {
    display: block;
    padding-left: 16px;
    margin-top: -10px;
    font-size: 16px;
    color: #ff003a;
}

.p-item img {
    width: 187px;
    height: 190px;
}

.p-item img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.p-row {
    margin: 0 0 40px 0;
}

.pd-link {
    display: inline-block;
    height: 66px;
    text-decoration: none;
}

.c-title {
    margin-left: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #646464;
}

.left-mark {
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #19c8a9;
    vertical-align: top;
}

/* ji-products end */