<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saihou.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.saihou.entity.OrderItem">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="oid" property="oid"/>
        <result column="uid" property="uid"/>
        <result column="number" property="number"/>
        <!-- Product -->
        <association property="product" column="pid" javaType="com.saihou.entity.Product" select="com.saihou.mapper.ProductMapper.findById">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , pid, oid, uid, number
    </sql>

    <!-- findAll -->
    <select id="findAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from OrderItem
    </select>

    <!-- findById -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from OrderItem
        where id = #{id}
    </select>

    <!-- findByOid -->
    <select id="findByOid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from OrderItem
        where oid = #{oid}
    </select>

    <!-- insert -->
    <insert id="insert" parameterType="com.saihou.entity.OrderItem">
        insert into OrderItem (id, pid, oid,
                               uid, number)
        values (#{id}, #{pid}, #{oid}, #{uid}, #{number})
    </insert>

    <!-- update -->
    <update id="update" parameterType="com.saihou.entity.OrderItem">
        update OrderItem
        set pid    = #{pid},
            oid    = #{oid},
            uid    = #{uid},
            number = #{number}
        where id = #{id}
    </update>

    <!-- delete -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from OrderItem
        where id = #{id}
    </delete>

</mapper>