<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saihou.mapper.ProductImageMapper">

    <resultMap id="BaseResultMap" type="com.saihou.entity.ProductImage">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, pid, type, name
    </sql>

    <!-- findAll -->
    <select id="findAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ProductImage
    </select>

    <!-- findById -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ProductImage
        where id = #{id}
    </select>

    <!-- findByPid -->
    <select id="findByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ProductImage
        where pid = #{pid}
    </select>

    <!-- findByCondition -->
    <select id="findByCondition" parameterType="com.saihou.query.ProductImageQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ProductImage
        where pid = #{pid} and type = #{type}
    </select>

    <!-- delete -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from ProductImage
        where id = #{id}
    </delete>

    <!-- insert -->
    <insert id="insert" parameterType="com.saihou.entity.ProductImage" useGeneratedKeys="true" keyProperty="id">
        insert into ProductImage (id, pid, type, name)
        values (#{id}, #{pid}, #{type}, #{name})
    </insert>

    <!-- update -->
    <update id="update" parameterType="com.saihou.entity.ProductImage">
        update ProductImage
        set pid  = #{pid},
            type = #{type},
            name = #{name}
        where id = #{id}
    </update>

</mapper>