<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saihou.mapper.PropertyValueMapper">

    <resultMap id="BaseResultMap" type="com.saihou.entity.PropertyValue">
        <id column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="ptid" property="ptid"/>
        <result column="value" property="value"/>
        <!-- property -->
        <association property="property" column="ptid" javaType="com.saihou.entity.Property"
                     select="com.saihou.mapper.PropertyMapper.findById">
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , pid, ptid, value
    </sql>

    <!-- findById -->
    <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PropertyValue
        where id = #{id}
    </select>

    <!-- findByPid -->
    <select id="findByPid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PropertyValue
        where pid = #{pid}
    </select>

    <!-- findByCondition -->
    <select id="findByCondition" parameterType="com.saihou.query.BaseQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PropertyValue
        where pid = #{pid}
        and ptid = #{ptid}
    </select>

    <!-- insert -->
    <insert id="insert" parameterType="com.saihou.entity.PropertyValue" useGeneratedKeys="true" keyProperty="id">
        insert into PropertyValue (id, pid, ptid, value)
        values (#{id}, #{pid}, #{ptid}, #{value})
    </insert>

    <!-- update -->
    <update id="update" parameterType="com.saihou.entity.PropertyValue">
        update PropertyValue
        set pid   = #{pid},
            ptid  = #{ptid},
            value = #{value}
        where id = #{id}
    </update>

    <!-- delete -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from PropertyValue
        where id = #{id}
    </delete>

</mapper>